$basic_green: #588535;
$color_text: #777A73;
$hover_item: #CFD8DC;
$bg_color:#F6F6F6;
$title:#22271C;
$color_white:#FFFFFF;
$special_bg:rgba(255, 255, 255, 0.5);
$special_bg_parent:rgba(88, 133, 53, 0.1);
$text_bg:rgba(88, 133, 53, 0.1);
