.first-section.container
  .first-section__text
    p.title #Ornamental Plant
    p.basic
      | Various Indoor 
      br
      |                 Plant Shop
    p.subtitle
      | Lorem Ipsum is simply dummy text of the printing and 
      br
      |                 typesetting industry. Lorem Ipsum has been.
    .first-section__buttom
      button.buttom-green Add To Cart
      button.buttom-white Learn More
  .first-section__img
    .first-section__img__wrapper
      .first-section__img__mini
        img(src='./assets/images/Ellipse_mini.png' alt='')
        img.leaf-icon(src='./assets/images/leaf-icon.png' alt='')
        img.jug-icon(src='./assets/images/jug-icon.png' alt='')
        img.green-basket-icon(src='./assets/images/green-basket-icon.png' alt='')
      .first-section__img__fon
        img(src='./assets/images/Ellipse_fon.png' alt='')
    .first-section__img__flower
        img(src='./assets/images/flower.png' alt='')