.first-slider-block.container
  s#s1
  s#s2
  .slider
    .bonsai-item
      .slider__img
        img(src='./assets/images/hybrid.png' alt='')
      .slider__content
        p.slider__content__text Severin Candrian
        p.slider__center__content
          | Lorem Ipsum is simply 
          br
          |  dummy text.
        p.slider__content__text $59.99
      .slider__heart 	&#10084;
      .slider__button
        button Add to Cart
    .severin-item
      .slider__img
        img(src='./assets/images/severin.png' alt='')
      .slider__content
        p.slider__content__text Bonsai Bot
        p.slider__center__content
          | Lorem Ipsum is simply 
          br
          |  dummy text.
        p.slider__content__text $59.99
      .slider__heart 		&#10084;
      .slider__button
        button Add to Cart
    .hybrid-item
      .slider__img
        img(src='./assets/images/hybrid.png' alt='')
      .slider__content
        p.slider__content__text Severin Candrian
        p.slider__center__content
          | Lorem Ipsum is simply 
          br
          |  dummy text.
        p.slider__content__text $19.99
      .slider__heart 	&#10084;
      .slider__button
        button Add to Cart
    .bonsailast-item
      .slider__img
        img(src='./assets/images/severin.png' alt='')
      .slider__content
        p.slider__content__text Hybrid Caktus
        p.slider__center__content
          | Lorem Ipsum is simply 
          br
          |  dummy text.
        p.slider__content__text $25.99
      .slider__heart 	&#10084;
      .slider__button
        button Add to Cart
    .bonsai-item.slide_adaptive
      .slider__img
        img(src='./assets/images/hybrid.png' alt='')
      .slider__content
        p.slider__content__text Severin Candrian
        p.slider__center__content
          | Lorem Ipsum is simply 
          br
          |  dummy text.
        p.slider__content__text $59.99
      .slider__heart 	&#10084;
      .slider__button
        button Add to Cart
    .severin-item.slide_adaptive
      .slider__img
        img(src='./assets/images/severin.png' alt='')
      .slider__content
        p.slider__content__text Bonsai Bot
        p.slider__center__content
          | Lorem Ipsum is simply 
          br
          |  dummy text.
        p.slider__content__text $59.99
      .slider__heart 	&#10084;
      .slider__button
        button Add to Cart
    .hybrid-item.slide_adaptive
      .slider__img
        img(src='./assets/images/hybrid.png' alt='')
      .slider__content
        p.slider__content__text Severin Candrian
        p.slider__center__content
          | Lorem Ipsum is simply 
          br
          |  dummy text.
        p.slider__content__text $19.99
      .slider__heart 	&#10084;
      .slider__button
        button Add to Cart
    .bonsailast-item.slide_adaptive
      .slider__img
        img(src='./assets/images/severin.png' alt='')
      .slider__content
        p.slider__content__text Hybrid Caktus
        p.slider__center__content
          | Lorem Ipsum is simply 
          br
          |  dummy text.
        p.slider__content__text $25.99
      .slider__heart 	&#10084;
      .slider__button
        button Add to Cart
  .btn__next
    div
      a.btn__next__right.special__display(href='#s1')
      a.btn__next__left(href='#s2')
    div
      a.btn__next__left.special__display(href='#s2')
      a.btn__next__right(href='#s1')