footer.footer.container
  .footer__first
    .footer__first__item.logo__media
      .footer__logo
        img(src='./assets/images/logo_footer.png' alt='')
      div.logo__text Sed perspiciatis unde omnis natus error voluptatem accusantium doloremque laudantium, totam rem aperiam.
      .footer__logo__img
        img(src='./assets/images/footer_logo1.png' alt='')
        img(src='./assets/images/footer_logo2.png' alt='')
        img(src='./assets/images/footer_logo3.png' alt='')
        img(src='./assets/images/footer_logo4.png' alt='')
        img(src='./assets/images/footer_logo5.png' alt='')
    .footer__first__item
      p.footer__first__item__title Quick Link
      p About Us
      p Shop
      p Products
      p Blog
    .footer__first__item
      p.footer__first__item__title Category
      p Indoor Plants
      p Outdoor Plants
      p Trending Plants
      p Best Selling
    .footer__first__item.item__media
      p.footer__first__item__title Contact Us
      p.green__string hello@nursery.io
      p 2563 High street,
      p Los Angles, California
  .footer__second
    .footer__second__item__first
      span Copyright
      |  &copy; 2019 The Landix, All Right Reserved amentotech
    .footer__second__item__second
      p.footer__item.footer__media News
      p.footer__item.footer__media About
      p.footer__item How it works
      p.footer__item Privacy Policy