.form__section.container
  .form__section__wrapper
    .form__section__wrapper__text
      p.basic__title Join To Our Newsletter For More Info
      p.basic__subtitle Cotrary to popular belief, Lorem Ipsum is not simply random text.  
    .form__section__wrapper__form
      input.form__section__wrapper__mail(type='text' placeholder='Your Email')
      form(action='https://github.com/sbruneuskaya/diplom/pull/7' target='_blanck')
        button.form__section__wrapper__submit Join Us