mixin gallary (src, title, subtitle)
  .gallery__section__img__column-item__img
    img(src= src)
  .gallery__section__item__text 
    p.gallery__section__text__title= title
    p.gallery__section__text__subtitle= subtitle

.gallery__section.container
  .gallery__section__text
    p.basic__title Plant Collection
    p.basic__subtitle Smoothlu And healthy plant fore you and all people
  .gallery__section__img
    .gallery__section__img__column
      .gallery__section__img__column-item.special_img_item
        +gallary('./assets/images/first-block__first-item.png', 'Pet Friendly', '16 Items')
      .gallery__section__img__column-item
        +gallary('./assets/images/first-block__second-item.png', 'Indoor', '25 Items')
    .gallery__section__img__column
      .gallery__section__img__column-item
        +gallary('./assets/images/second-block_first-item.png', 'Outdoor', '30 Items')
      .gallery__section__img__column-item
        +gallary('./assets/images/second-block_second-item.png', 'Pet Friendly', '29 Items')
      .gallery__section__img__column-item
        +gallary('./assets/images/second-block_third-item.png', 'Indoor', '17 Items')
    .gallery__section__img__column
      .gallery__section__img__column-item.special_img_item
        +gallary('./assets/images/third-block__first-item.png', 'Pet Friendly', '16 Items')
      .gallery__section__img__column-item
        +gallary('./assets/images/third-block__second-item.png', 'Office Collection', '25 Items')
  .gallery__section__button
    form(action='https://github.com/sbruneuskaya')
      button View All