.gallery__section.container
  .gallery__section__text
    p.basic__title Plant Collection
    p.basic__subtitle Smoothlu And healthy plant fore you and all people
  .gallery__section__img
    .gallery__section__img__first
      .gallery__section__img__first-item.special_img_item
        .gallery__section__img__first-item__img
          img(src='./assets/images/first-block__first-item.png' alt='')
        .gallery__section__item__text
          p.gallery__section__text__title Pet Friendly
          p.gallery__section__text__subtitle 16 Items
      .gallery__section__img__second-item
        .gallery__section__img__second-item__img
          img.tui(src='./assets/images/first-block__second-item.png' alt='')
        .gallery__section__item__text
          p.gallery__section__text__title Indoor
          p.gallery__section__text__subtitle 25 Items
    .gallery__section__img__second
      .gallery__section__img__first-item
        .gallery__section__img__first-item__img
          img(src='./assets/images/second-block_first-item.png' alt='')
        .gallery__section__item__text
          p.gallery__section__text__title Outdoor
          p.gallery__section__text__subtitle 30 Items
      .gallery__section__img__second-item
        .gallery__section__img__second-item__img
          img.tui(src='./assets/images/second-block_second-item.png' alt='')
        .gallery__section__item__text
          p.gallery__section__text__title Pet Friendly
          p.gallery__section__text__subtitle 29 Items
      .gallery__section__img__second-item
        .gallery__section__img__second-item__img
          img.tui(src='./assets/images/second-block_third-item.png' alt='')
        .gallery__section__item__text
          p.gallery__section__text__title Indoor
          p.gallery__section__text__subtitle 17 Items
    .gallery__section__img__third
      .gallery__section__img__first-item.special_img_item
        .gallery__section__img__first-item__img
          img.special_img(src='./assets/images/third-block__first-item.png' alt='')
        .gallery__section__item__text
          p.gallery__section__text__title Pet Friendly
          p.gallery__section__text__subtitle 16 Items
      .gallery__section__img__second-item
        .gallery__section__img__second-item__img
          img(src='./assets/images/third-block__second-item.png' alt='')
        .gallery__section__item__text
          p.gallery__section__text__title Office Collection
          p.gallery__section__text__subtitle 25 Items
  .gallery__section__button
    form(action='https://github.com/sbruneuskaya')
      button View All