mixin icon (src, title, p)
  .parent__icon__item
    .parent__icon__item__img
      img(src= src)
    .parent__icon__item__text
      p.parent__icon__item__text__title= title
      p= p

.parent__icon.container
  +icon('./assets/images/free.png', 'Free Delivery', 'Free shipping the world')
  +icon('./assets/images/secure.png', 'Secure Payment', 'Secure Payment services is safer')
  +icon('./assets/images/eco.png', 'Eco Friendly', 'Eco-Friendly product keeps')