.parent__icon.container
  .parent__icon__item
    .parent__icon__item__img
      img(src='./assets/images/free.png' alt='')
    .parent__icon__item__text
      p.parent__icon__item__text__title Free Delivery 
      p Free shipping the world
  .parent__icon__item
    .parent__icon__item__img
      img(src='./assets/images/secure.png' alt='')
    .parent__icon__item__text
      p.parent__icon__item__text__title Secure Payment
      p Secure Payment services is safer
  .parent__icon__item
    .parent__icon__item__img
      img(src='./assets/images/eco.png' alt='')
    .parent__icon__item__text
      p.parent__icon__item__text__title Eco Friendly
      p Eco-Friendly product keeps