mixin information (src, title, subtitle)
 .information__icons__item
    .information__icons__item__img
      img.information__img(src= src)
    .information__icons__item__text
      p.information__icons__item__text__title= title
      p.information__icons__item__text__subtitle= subtitle

.information__icons.container
  +information('./assets/images/information1.png', '2000', 'Total Service')
  +information('./assets/images/information2.png', '1000', 'Home Delivary')
  +information('./assets/images/information3.png', '5000', 'Happy Client')
  +information('./assets/images/information4.png', '3000', 'Total Experts')