.second__slider.container
  .second__slider__text
    p.basic__title Featured Products
    p.basic__subtitle Smoothlu And healthy plant fore you and all people
  s#r1
  s#r2
  s#r3
  s#r4
  .slider__content__second
    .slider__position__one
      .slider__position__one__first__item
        .slider__position__one__first__item__card.media__position
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card1.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__first__item__card.media__position
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card2.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__first__item__card
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card3.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars3.png' alt='')
        .slider__position__one__first__item__card
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card4.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars4.png' alt='')
      .slider__position__one__second__item
        .slider__position__one__second__item__card.media__position
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card5.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__second__item__card
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card6.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__second__item__card.media__position
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card7.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars3.png' alt='')
        .slider__position__one__second__item__card
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card8.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars4.png' alt='')
    .slider__position__one
      .slider__position__one__first__item
        .slider__position__one__first__item__card
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card1.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__first__item__card.media__position
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card2.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__first__item__card
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card3.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars3.png' alt='')
        .slider__position__one__first__item__card.media__position
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card4.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars4.png' alt='')
      .slider__position__one__second__item
        .slider__position__one__second__item__card.media__position
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card5.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__second__item__card
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card6.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__second__item__card.media__position
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card7.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars3.png' alt='')
        .slider__position__one__second__item__card
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card8.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars4.png' alt='')
    .slider__position__one
      .slider__position__one__first__item
        .slider__position__one__first__item__card.media__position
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card1.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__first__item__card
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card2.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__first__item__card.media__position
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card3.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars3.png' alt='')
        .slider__position__one__first__item__card
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card4.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars4.png' alt='')
      .slider__position__one__second__item
        .slider__position__one__second__item__card.media__position
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card5.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__second__item__card.media__position
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card6.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__second__item__card
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card7.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars3.png' alt='')
        .slider__position__one__second__item__card
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card8.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars4.png' alt='')
    .slider__position__one
      .slider__position__one__first__item
        .slider__position__one__first__item__card.media__position
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card1.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__first__item__card.media__position
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card2.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__first__item__card
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card3.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars3.png' alt='')
        .slider__position__one__first__item__card
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card4.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars4.png' alt='')
      .slider__position__one__second__item
        .slider__position__one__second__item__card.media__position
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card5.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__second__item__card.media__position
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card6.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__second__item__card
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card7.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars3.png' alt='')
        .slider__position__one__second__item__card
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card8.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars4.png' alt='')
    .slider__position__one
      .slider__position__one__first__item
        .slider__position__one__first__item__card.media__position
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card1.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__first__item__card.media__position
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card2.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__first__item__card
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card3.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars3.png' alt='')
        .slider__position__one__first__item__card
          .slider__position__one__first__item__card__img
            img(src='./assets/images/second_slider_card4.png' alt='')
          .slider__position__one__first__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars4.png' alt='')
      .slider__position__one__second__item
        .slider__position__one__second__item__card.media__position
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card5.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__second__item__card.media__position
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card6.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars2.png' alt='')
        .slider__position__one__second__item__card
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card7.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars3.png' alt='')
        .slider__position__one__second__item__card
          .slider__position__one__second__item__card__img
            img(src='./assets/images/second_slider_card8.png' alt='')
          .slider__position__one__second__item__card__text
            .card__text__right
              p Combo Nisi
              button Add to Cart
            .card__text__left
              img(src='./assets/images/stars4.png' alt='')
  .bullets
    a(href='#r1')
    a(href='#r2')
    a(href='#r3')
    a(href='#r4')
    a(href='#r5')
.second__slider.container__hidden
  .container__hidden
    .slider__position__one__first__item__card
      .slider__position__one__first__item__card__img
        img(src='./assets/images/second_slider_card1.png' alt='')
      .slider__position__one__first__item__card__text
        .card__text__right
          p Combo Nisi
          button Add to Cart
        .card__text__left
          img(src='./assets/images/stars2.png' alt='')
    .slider__position__one__first__item__card
      .slider__position__one__first__item__card__img
        img(src='./assets/images/second_slider_card2.png' alt='')
      .slider__position__one__first__item__card__text
        .card__text__right
          p Combo Nisi
          button Add to Cart
        .card__text__left
          img(src='./assets/images/stars2.png' alt='')
    .slider__position__one__first__item__card
      .slider__position__one__first__item__card__img
        img(src='./assets/images/second_slider_card3.png' alt='')
      .slider__position__one__first__item__card__text
        .card__text__right
          p Combo Nisi
          button Add to Cart
        .card__text__left
          img(src='./assets/images/stars3.png' alt='')
    .slider__position__one__first__item__card
      .slider__position__one__first__item__card__img
        img(src='./assets/images/second_slider_card4.png' alt='')
      .slider__position__one__first__item__card__text
        .card__text__right
          p Combo Nisi
          button Add to Cart
        .card__text__left
          img(src='./assets/images/stars4.png' alt='')