mixin card(src, title, subtitle)
 .second__parent__icon__item
   .second__parent__icon__item__img
     img.second__parent__img(src= src)
   .parent__icon__item__text
     p.parent__icon__item__text__title= title
     p.parent__icon__item__text__subtitle= subtitle

.second__parent__icon.container
  .gallery__section__text
    p.basic__title.second__title Featured Products
    p.basic__subtitle.second__subtitle Smoothlu And healthy plant fore you and all people
  .second__parent__icon__item__card
    +card('./assets/images/second_parent-first.png', 'Watering', 'Free shipping around the world for all orders over $80')
    +card('./assets/images/second_parent-second.png', 'Light', 'Secure Payment services is a safer, faster, more secure way to pay')
    +card('./assets/images/second_parent-third.png', 'Fertilizer', 'Eco-Friendly product keeps both Invironmental and human safe')