.third__slider__text.container
  p.basic__title Our Latest Posts
  p.basic__subtitle Smoothlu And healthy plant fore you and all people
  .third__slider__block.container
    s#t1
    s#t2
    s#t3
    s#t4
    s#t5
    .information__slider
      .information__icons
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
        .third__slider__item
          .third__slider__item__img
            img(src='./assets/images/third__img1.png', alt='')
            p.third__slider__item__img__text Jun 18, 2021
          .third__slider__item__text
            p.third__slider__title From banking and insurance to wealth
            p.third__slider__subtitle Read More &rarr; 
    .bullets__slider
      a(href='#t1')
      a(href='#t2')
      a(href='#t3')
      a(href='#t4')
      a(href='#t4')
.third__slider__block__hidden.container
  .third__slider__item
    .third__slider__item__img
      img.third__hidden__img(src='./assets/images/third__img1.png', alt='')
      p.third__slider__item__img__text Jun 18, 2021
    .third__slider__item__text
      p.third__slider__title From banking and insurance to wealth
      p.third__slider__subtitle Read More &rarr; 
  .third__slider__item
    .third__slider__item__img
      img.third__hidden__img(src='./assets/images/third__img1.png', alt='')
      p.third__slider__item__img__text Jun 18, 2021
    .third__slider__item__text
      p.third__slider__title From banking and insurance to wealth
      p.third__slider__subtitle Read More &rarr; 
  .third__slider__item
    .third__slider__item__img
      img.third__hidden__img(src='./assets/images/third__img1.png', alt='')
      p.third__slider__item__img__text Jun 18, 2021
    .third__slider__item__text
      p.third__slider__title From banking and insurance to wealth
      p.third__slider__subtitle Read More &rarr; 
  .third__slider__item
    .third__slider__item__img
      img.third__hidden__img(src='./assets/images/third__img1.png', alt='')
      p.third__slider__item__img__text Jun 18, 2021
    .third__slider__item__text
      p.third__slider__title From banking and insurance to wealth
      p.third__slider__subtitle Read More &rarr; 