.third-slider-block.container
  s#t1
  s#t2
  s#t3
  s#t4
  .information__icons
    .third__slider__item
      .third__slider__item__img
        img(src='./assets/images/third__img1.png' alt='')
        p.third__slider__item__img__text Jun 18, 2021
      .third__slider__item__text
        p.third__slider__title From banking and insurance to wealth
        p.third__slider__subtitle Read More &rarr; 
    .third__slider__item
      .third__slider__item__img
        img(src='./assets/images/third__img1.png' alt='')
        p.third__slider__item__img__text Jun 18, 2021
      .third__slider__item__text
        p.third__slider__title From banking and insurance to wealth
        p.third__slider__subtitle Read More &rarr; 
    .third__slider__item
      .third__slider__item__img
        img(src='./assets/images/third__img1.png' alt='')
        p.third__slider__item__img__text Jun 18, 2021
      .third__slider__item__text
        p.third__slider__title From banking and insurance to wealth
        p.third__slider__subtitle Read More &rarr; 
    .third__slider__item
      .third__slider__item__img
        img(src='./assets/images/third__img1.png' alt='')
        p.third__slider__item__img__text Jun 18, 2021
      .third__slider__item__text
        p.third__slider__title From banking and insurance to wealth
        p.third__slider__subtitle Read More &rarr; 
  .bullets
    a(href='#t1') 1
    a(href='#t2') 2
    a(href='#t3') 3
    a(href='#t4') 4