doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Document
  link(rel='stylesheet' href='./assets/styles/styles.css')
body
      include components/header
      include components/first-section
      include components/first-slider-section
      include components/icon_block
      include components/gallery_section
      include components/second_parent_section
      include components/second_slider
      include components/information_block
      include components/form_section
      include components/footer
      include components/third_slider