@import '../util/var';
@import '../util/mixins';

.first-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: $bg_color;
    z-index: 3;
    padding-top: 210px;
    margin-top: -210px;
    padding-left: 20px;
    padding-right: 20px;
    
    &__text {
        padding:116px 0 300px 0;
    }
    
    
    &__buttom {
        margin-top: 50px;
    }

    &__img {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    
    &__img__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -78px;
        margin-left: 38px;
    }
    
    
    
    &__img__fon {
        position: absolute;
    }
    
    &__img__flower {
        position: absolute;
        margin-top: -207px;
    }
}

.title {
    font-size: 24px;
    color: $title;
    font-weight: 600;
}

.subtitle {
    font-size: 24px;
    color: $color_text;
}

.basic {
    font-size: 100px;
    color: $title;
    padding: 20px 0 50px 0;
}



.buttom-green {
    color: $color_white;
    font-size: 20px;
    border: 0;
    background: $basic_green;
    border-radius: 10px;
    padding: 15px 49px 15px 33px;
    margin-right: 10px;
    position: relative;
}


.buttom-white {
    color: $basic_green;
    font-size: 20px;
    border: 0;
    background: $color_white;
    border-radius: 10px;
    padding: 15px 49px 15px 33px;
}






.leaf-icon {
    max-width: 60px;
    position: absolute;
    top: 274px;
    left: 36px;
}

.jug-icon {
    max-width: 60px;
    position: absolute;
    bottom: 108px;
    right: 244px;
}

.green-basket-icon {
    max-width: 60px;
    position: absolute;
    top: 258px;
    right: 5px;
}

@media screen and (max-width: 1480px){
    .basic{
        font-size: 70px;
    }
    .leaf-icon,
    .jug-icon,
    .green-basket-icon{
        display: none;
    }

   .first-section__img{
       display: none;
   }
   .header{
       z-index: 10;
   }
   .first-section__text {
       padding: 20px 0;
   }
   .first-section__buttom{
       display: flex;
       justify-content: center;
       flex-wrap: wrap;
   }
}

@media screen and (max-width: 425px){
    .buttom-white {
        margin-top: 20px;
    }
}