@import '../util/var';
@import '../util/mixins';

.form__section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;

    &__wrapper{
        max-width: 1520px;
        width: 100%;
        display: flex;
        flex-direction: column;
        background: url('/assets/images/form_section.png') no-repeat;
      }

      &__wrapper__form{
        @include flex(flex, row, center, center);
        padding-bottom: 120px;
      }
    
      &__wrapper__text{
        padding-top: 120px;
      }
      &__wrapper__mail{
        max-width: 529px;
        width: 100%;
        height: 65px;
        border: 0;
        color: $color_text;
        padding-left: 30px;
        }
        
        &__wrapper__mail:focus{
          outline: none;
        }
        
        &__wrapper__submit{
          max-width: 174px;
          width: 100%;
          height: 65px;
          color: $color_white;
          background: $basic_green;
          padding: 17px 51px;
          margin-left: 20px;
          
        }
  }
  
  

  
  @media screen and (max-width:1444px){
    .form__section__wrapper__text{
      padding: 50px 10px 0 10px;
      }
    .form__section__wrapper__form{
      flex-direction: column;
      }
      .form__section__wrapper__mail{
        max-width: 300px;
        margin-bottom: 20px;
      }
  }
  
  @media screen and (max-width:765px){
    .form__section__wrapper{
      background: none;
    }
  .form__section__wrapper__form{
  display: none;
  }
  .form__section{
    padding: 10px 10px;
  }
  }