@import '../util/var';
@import '../util/mixins';


.gallery__section {
    @include flex(flex, column, center, center);
    width: 100%;

    &__img {
       @include flex(flex, row, flex-end, space-evenly);
        flex-wrap: wrap;
        width: 100%;
      }
      &__button button {
        color: $basic_green;
        padding: 15px 55px;
        font-size: 20px;
        border-radius: 10px;
        border: 1px solid $basic_green;
        margin: 50px 0 120px 0;
      }
      
      &__img__column {
        display: flex;
        flex-direction: column;
        max-width: 490px;
        width: 100%;
      }
      
      &__img__column-item {
        @include flex(flex, column, center, center);
        background: $bg_color;
        border-radius: 10px;
        margin: 15px;
      }
      &__item__text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        background: $special_bg;
        border-radius: 0px 0px 10px 10px;
        backdrop-filter: blur(50px);
        padding: 25px;
      }
      
      &__text__title {
        padding-left: 30px;
        color: $title;
        font-size: 20px;
      }
      
      &__text__subtitle {
        padding-right: 30px;
        color: $basic_green;
        font-size: 16px;
      }
      &__img__column-item__img {
         margin-bottom: -60px;
  }
  }
  
  .basic__title {
    color: $title;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
  }
  
  .basic__subtitle {
    color: $color_text;
    font-size: 16px;
    text-align: center;
    padding-bottom: 50px;
  }
  
  
  .special_img{
    max-width: 412px;
  }
  
  @media screen and (max-width:1506px) {
    .gallery__section__img__third {
      display: none;
    }
  }
  
  @media screen and (max-width:1015px) {
    .gallery__section__img__third {
      display: flex;
    }
  }
  
  @media screen and (max-width:500px) {
    .special_img_item {
      display: none;
    }
  }