@import '../util/var';

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 50px 20px;
    // position: sticky;
    background: $bg_color;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  
    &-logo {
      max-width: 140px;
      width: 100%;
    }
  
    &-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 20px;
    }
  
    &-menu-li {
      display: flex;
      list-style-type: none;
    }
    .hamburger-menu {
      display: flex;
      align-items: center;
    }
  
    .menu__item {
      text-decoration: none;
      margin-right: 50px;
      color: $color_text;
      font-size: 20px;
    }
  
    .menu__item:first-child {
      color: $basic_green;
     
    }

    &-picture{
        max-width: 137px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    #menu__toggle {
      opacity: 0;
    }
  }

  @media screen and (max-width: 1100px){
    .header-picture img {
        display: none;
    }
    .hamburger-menu{
        padding-left: 50px;
        padding-top: 10px;
    }
}
@media screen and (max-width: 768px) {
  .header{
    position: sticky;
    padding-bottom: 10px;
  }
    .header-buttom {
      display: none;
    }
    .header-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
    .menu__btn {
      display: flex;
      position: fixed;
      align-items: center;
      top: 50px;
      right: 20px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }
    .menu__btn > span, .menu__btn > span::before, .menu__btn > span::after {
      display: flex;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: $basic_green;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
    .header-menu-li{
        display: flex;
        flex-direction: column;
    }
    .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      right: -100%;
      width: 300px;
      margin: 0;
      padding: 80px 0;
      list-style: none;
      text-align: center;
      width: 100%;
      background: $bg_color;
    }
    .header .menu__item {
      display: block;
      padding: 12px 24px;
      color: $color_text;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 600;
      text-decoration: none;
      margin-right: 0;
    }
    .menu__item:hover {
      background-color: $hover_item;
    }
    #menu__toggle:checked ~ .menu__btn > span {
      transform: rotate(45deg);
    }
    #menu__toggle:checked ~ .menu__btn > span::before {
      top: 0;
      transform: rotate(0);
    }
    #menu__toggle:checked ~ .menu__btn > span::after {
      top: 0;
      transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
      visibility: visible;
      right: 0;
    }
    .header-picture img {
        display: none;
    }
}