@import '../util/var';
@import '../util/mixins';

.parent__icon {
    @include flex(flex, row, center, space-evenly);
    flex-wrap: wrap;
    padding-top: 122px;
    padding-bottom: 122px;
    width: 100%;

    &__item {
      @include flex(flex, row, center, flex-start);
      max-width: 301px;
      width: 100%;
      margin: 30px;
    }
    &__item__img {
      margin-right: 30px;
    }
    
    &__item__text__title {
      color: $title;
      font-size: 24px;
      font-weight: bold;
    }
  }