@import '../util/var';


.information__icons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;

    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 357px;
        width: 100%;
        margin: 30px;
        
      }
      &__item__text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: $special_bg_parent;
        border-radius: 10px;
        width: 100%;
        max-height: 216px;
      }
      
      &__item__img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $basic_green;
        border: 5px solid $color_white;
        margin-bottom: -50px;
      }
      &__item__text__title{
        padding-top: 70px;
        color: $basic_green;
        font-size: 40px;
      }
      
      &__item__text__subtitle{
       padding-bottom: 36px;
        color: $color_text;
        font-size: 24px;
        margin-top: -10px;
      }
  }
  

  .information__img{
      width: 50%;
  }