@import '../util/var';
@import '../util/mixins';

.second__slider {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding-bottom: 50px;
    color: $color_white;
    text-align: center;
    padding-top: 120px;
}


.second__slider .slider__content__second {
    height: 100%;
    white-space: nowrap;
    font-size: 0;
    transition: 0.8s;
}


.second__slider .slider__content__second>* {
    font-size: 1rem;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    height: 100%;
    width: 100%;
    background: none 50% no-repeat;
    background-size: cover;
}




.second__slider .bullets {
    position: absolute;
    z-index: 2;
    bottom: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
}

.second__slider .bullets>a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 4px solid $basic_green;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#r1:target~.slider__content__second {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
}

#r2:target~.slider__content__second{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

#r3:target~.slider__content__second {
    transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
}

#r4:target~.slider__content__second {
    transform: translateX(-300%);
    -webkit-transform: translateX(-300%);
}



.second__slider a {
    border-radius: 50%;
    margin: 0 3px;
    color: $title;
    text-decoration: none;
}

.slider__position__one__second__item,
.slider__position__one__first__item {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.slider__position__one__second__item__card,
.slider__position__one__first__item__card {
    @include flex(flex, column, center, flex-end);
    max-width: 358px;
    width: 100%;
    max-height: 500px;
    background: $color_white;
    border: 1px solid $basic_green;
    border-bottom: 0;
    border-radius: 10px 10px 0px 0px;
    margin: 30px;

}

.slider__position__one__second__item__card__img,
.slider__position__one__first__item__card__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__position__one__first__item__card__img img,
.slider__position__one__second__item__card__img img{
    max-width: 70%;
    padding-top: 45px;
}

.slider__position__one__second__item__card__text,
.slider__position__one__first__item__card__text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: $title;
    background: $text_bg;
    border: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.card__text__right button {
    padding: 5px 25px;
    color: $title;
}

.slider__position__one__second__item__card:hover>.slider__position__one__second__item__card__text,
.slider__position__one__first__item__card:hover>.slider__position__one__first__item__card__text {
    background: $basic_green;
}

.container__hidden {
    @include flex(none, column, center, center);
}

.basic__title {
    color: $title;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
}

.basic__subtitle {
    color: $color_text;
    font-size: 16px;
    text-align: center;
    padding-bottom: 50px;
}

.card__text__right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media screen and (max-width:1440px) {
    .media__position {
        display: none;
    }
}


@media screen and (max-width: 1100px) {
    .slider__content__second {
        display: none;
    }

    .container__hidden {
        display: flex;
    }
    .bullets {
        display: none;
    }
    .second__slider{
        padding-bottom: -50px;
    }
}