@import '../util/var';
@import '../util/mixins';

.second__parent__icon{
   @include flex(flex, column, center, space-evenly);
    width: 100%;
    background: url('/assets/images/second_parent.png') no-repeat;
    background-position: center;
    background-size: cover;

    &__item__card{
        width: 100%;
        @include flex(flex, row, center, center);
        flex-wrap: wrap;
        padding-bottom: 100px;
      }
    
    &__item{
        max-width: 400px;
        width: 100%;
        @include flex(flex, row, center, flex-start);
        margin: 15px;
        background: $color_white;
        border-radius: 10px;
        padding: 30px 0 30px 30px;
      }
      &__item__img{
        width: 100px;
        height: 100px;
        background: $special_bg_parent;
        border-radius: 50%;
        margin-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &__item__text{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }
      &__item__text__title{
        color: $title;
        font-size: 24px;
        font-weight: bold;
      }
  }


  
  .second__title{
    color: $color_white;
    padding-top: 100px;
    padding-bottom: 10px;
  }
  
  .second__subtitle{
    color: $color_white;
  }
  .second__parent__img{
      width: 50%;
  }

  .parent__icon__item__text__subtitle{
    max-width: 249px;
    padding-right: 80px;
  }