@import "util/normalize";
@import "util/global";
@import './sections/header'; 
@import './sections/first_section';
@import './sections/first_slider_section';
@import './sections/icon_block';
@import './sections/gallery_section';
@import './sections/second_parent_section';